<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Current Inventory</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <nav>
      <ul>
        <li><a href="/schedule">Employee Schedule</a></li>
        <li><a href="/auditlog">Audit Log</a></li>
        <li><a href="currentinventory">Inventory</a></li>
      </ul>
    </nav>

    <div class="add_items">
      <h2>Add Item</h2>

      <div class="items_form">
        <form action="/add_item" method="POST">
          <input type="text" name="item"/>
          <input type="number" name="quantity"/>
          <input type="number" name="price"/>
          <a href=""><h3>cancel</h3></a>
          <button id="submit" type="submit">Save</button>
        </form>


      </div>

    </div>

  </body>
</html>
