<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Employee</title>
  </head>
  <body>
    <form action="" method="post" >
        <input type="text" name="name" placeholder="Name" />
        <input type="text " name="time_in"  placeholder="Start_Time"/>
        <input type="text" name="time_out" placeholder="End_Time" />
    <button type="submit" name="button">Save</button>
  </form>

  </body>
</html>
