<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Audit Inventory</title>
  </head>
  <body>


  <div class="audit_section">
    <h2>Inventory Audit Log</h2>
    <div class="audit_inventory">
      {{ #auditlog }}
      <div class="item_name">{{ name }}</div>
      <div class="quantity">{{ quantity }}</div>
      <div class="price">{{ price }}</div>
      <div class="timestamp">{{ date }}</div>
      {{ /auditlog }}
    </div>
  </div>


  </body>
</html>
