<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Audit Inventory</title>
  </head>
  <body>


  <div class="audit_section">
    <h2>Inventory Audit Log</h2>
    <div class="audit_inventory">
      <div class="item_name"></div>
      <div class="quantity"></div>
      <div class="price"></div>
      <div class="timestamp"></div>
    </div>
  </div>


  </body>
</html>
