<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Current Inventory</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <nav>
      <a href="/"><img id="logo" src="/assets/images/logo.png"/></a>
      <ul>
        <li><a href="/schedule">Employee Schedule</a></li>
        <li><a href="/auditlog">Audit Log</a></li>
        <li><a href="currentinventory">Inventory</a></li>
      </ul>
    </nav>

    <div class="container">
      <h2>Current Inventory</h2>
      <div class="current_data">
        {{ #inventory }}
        <div class="item">
          <div class="wide name">{{ item }}</div>
          <div class="narrow edit"><a href="#">edit</a></div>
          <div class="wide quantity">{{ quantity }}</div>
          <div class="narrow price">${{ price }}</div>
        </div>
        {{ /inventory }}
      </div>
      <a href="/add_item"><h3>Add New Item</h3></a>
    </div>

  </body>
</html>
