<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Current Inventory</title>
  </head>
  <body>

    <div class="current_section">
      <h2>Current Inventory</h2>
      <div class="current_inventory">
        {{ #inventory }}
        <div class="item_name">{{ item }}</div>
        <div class="edit"><a href="#">edit</a></div>
        <div class="quantity">{{ quantity }}</div>
        <div class="price"><p>${{ price }}</p></div>
        {{ /inventory }}
      </div>
      <a href=""><h3>Add New Item</h3></a>
    </div>

  </body>
</html>
