<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Current Inventory</title>
  </head>
  <body>

    <div class="current_section">
      <h2>Current Inventory</h2>
      <div class="current_inventory">
        {{#put stuff here}}
        <div class="item_name"></div>
        <div class="edit"></div>
        <div class="quantity"></div>
        <div class="price"><p>${{}}
          </p>
        </div>
        {{/put stuff here}}
      </div>
      <a href=""><h3>Add New Item</h3></a>
    </div>

  </body>
</html>
