<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Employee Schedule</title>
  </head>
  <body>
    <div class="schedule_section">
   <h2>Employee Schedule</h2>
   <div class="employee_schedule">
     <div class="employee_name"></div>
     <form method="post" action="">
      <input type="text" name="time_in" />
      <input type="text" name="time-out" />
        <a href="/addEmployee">Edit</a>
     <div class="time_in"></div>
     <div class="time_out"></div>
      <a href="/addEmployee">Add new item</a>
   </div>
 </div>


  </body>
</html>
