<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Employee Schedule</title>
  </head>
  <body>

    <div class="schedule_section">
      <h2>Employee Schedule</h2>
      <div class="employee_schedule">
        {{ #employees }}
        <div class="employee_name">{{ name }}</div>
        <a href="/addEmployee">Edit</a>
        <div class="time_in">{{ timeIn }}</div>
        <div class="time_out">{{ timeOut }}</div>
        {{ /employees }}
      </div>
      <a href="/addEmployee">Add new item</a>
    </div>

  </body>
</html>
