body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  width: 60%;
  margin: 0 auto;
}

.current_data {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  width: 100%;
}

.item {
  flex-basis: 100%;
  display: flex;
}

.item div {
  border: 1px solid black;
  padding: 10px;
  box-sizing: border-box;
  flex-grow: 1;
}

.wide {
  flex-basis: 20%;
}

.narrow {
  flex-basis: 10%;
}

nav {
  background: black;
  padding-right: 80px;
}

#logo {
  float: left;
  width: 75px;
  margin: 20px 0 0 40px;
  transition: 200ms;
}

#logo:hover {
  transform: scale(1.1);
}

nav ul {
  padding-left: 0;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

nav ul li {
  list-style: none;
  padding: 20px 30px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav ul li a:hover {
  color: lightgreen;
  cursor: pointer;
}

h2 {
  text-align: center;
  clear: both;
}


#titleContainer {
  margin: 180px auto 0;
  text-align: center;
}

button{
  background-color: black;
  color: white;
  border: 1px solid white;
  box-shadow: 2px 2px grey;
  font-size: 1em;
  font-weight: bold;
  font-style: oblique;

}

form {
  width: 80%;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group {
  margin: 10px;
  width: 100%;
}

.half {
  width: 40%;
  display: inline-block;
}

input{
  background-color: white;
  color: black;
  box-shadow: 2px 2px  grey;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  font-family:sans-serif, serif;
  width: 100%;
}
